{% extends 'base.html.twig' %}


{% block title %}
  {{ parent() }}Panier
{% endblock %}


    {% block h1 %}
        Votre Panier
    {% endblock %}

{% block body %}



    {% if panier is not empty %}





    <table class="table table-dark table-striped">
        <thead>
        <tr class="text-center">
            <th scope="col">#</th>
            <th scope="col">Nom</th>
            <th scope="col">Prix</th>
            <th scope="col">Photo</th>
            <th scope="col">Total</th>
            <th scope="col"><button class="btn btn-secondary">Retirer</button></th>
            <th scope="col">Quantité</th>
            <th scope="col"><button class="btn btn-secondary">Ajouter</button></th>
            <th scope="col"><button class="btn btn-warning">Annuler</button></th>
        </tr>
        </thead>
        <tbody>
        {% for lignePanier in panier %}
        <tr class="text-center">
            <td>{{ lignePanier.produit.id }}</td>
            <td>{{ lignePanier.produit.titre }}</td>
            <td>{{ lignePanier.produit.prix }}€</td>
            <td><img src="{{ asset('images/imagesUpload/') }}{{ lignePanier.produit.image }}" width="50" height="50" alt="{{lignePanier.produit.titre }}"></td>
            <td>{{ lignePanier.produit.prix * lignePanier.quantite }}€</td>
            <td><a href="{{ path('removeCart', {id:lignePanier.produit.id}) }}" class="btn btn-secondary">-</a></td>
            <td>{{ lignePanier.quantite }}</td>
            <td><a href="{{ path('addCart', {id:lignePanier.produit.id , param:'cart' }) }}" class="btn btn-secondary">+</a></td>
            <td><a href="{{ path('deleteCart', {id:lignePanier.produit.id}) }}" class="btn btn-warning">Annuler</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>

        {% if app.user %}
        <a href="{{ path('commande') }}" class="btn btn-success mt-4">Valider la commande</a>
       {% else %}
            <h4>Merci de vous connecter pour procéder à la commande <a href="{{ path('login') }}" class="btn btn-primary">Connexion</a><br> <a href="{{ path('registration') }}">Pas encore inscrit?</a></h4>
    {% endif %}
        {% else %}

        <h3 class="my-5">Votre panier est vide, allez vite le remplir! <a class="hover" href="{{ path('catalogue') }}"> Vor nos bijoux</a></h3>
{% endif %}
{% endblock %}


