{% extends 'panelAdmin.html.twig' %}

{% block title %}
    {{ parent() }}Ajout Catégorie
{% endblock %}
{% block h1 %}
    Ajout Matière
{% endblock %}


{% block body %}

    <div class="row justify-content-center mb-5">

        {# Notification #}
        {# app est une variable d'environnement #}
        {% for notification in app.flashes('success') %}
            <div class="alert alert-success col-md-6 mx-auto text-center">{{ notification }}</div>
        {% endfor %}

        <div class="col-md-6 ">


            {{ form_start(formu) }}
            <div class="mt-2">
                <label for="">Nom</label>
                {{ form_row(formu.name) }}
            </div>
            <div class="mt-4">
                {{ form_row(formu.Valider) }}
            </div>

            {{ form_end(formu) }}
        </div>



        {% if matieres is not empty %} {# si produits n'est pas vide #}

            <table class="table table-hover table-striped text-center mt-3">

                <thead class="bg-dark text-white">
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Modifier</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody>


                {% for matiere in matieres %}


                    <tr class="align-middle">

                        <td>{{ matiere.id }}</td>

                        <td>{{ matiere.name }}</td>

                          <td>  <a href="{{ path("modifMatiere", {"id":matiere.id} ) }}">
                                <img src="{{ asset('images/update.png') }}" alt="">
                            </a>
                        </td>

                        <td>
                            <a href="{{ path("deleteMatiere", {"id":matiere.id} ) }}" onclick="return confirm('Confirmez-vous la suppression du produit?')">
                                <img src="{{ asset('images/delete.png') }}" alt="">
                            </a>
                        </td>

                    </tr>

                {% endfor %}


                </tbody>


            </table>


        {% else %}{# si produits est vide #}

            <h4 class="text-center text-danger fst-italic mt-3">Il n'y a pas de matières pour le moment</h4>

        {% endif %}



    </div>
{% endblock %}
